/* Message page (begin) */ /**/
    .l-page-massage .l-page-c
    {
        width: 20px;
    }

    .l-page-massage .l-page-r
    {
       /*  background: #233e5e; */
    }

    .l-page-massage .l-top
    {
        /* background: #233e5e; */
    }
/* Message page (end) */ /**/