/*
 Licensed to the Apache Software Foundation (ASF) under one   *
 or more contributor license agreements.  See the NOTICE file *
 distributed with this work for additional information        *
 regarding copyright ownership.  The ASF licenses this file   *
 to you under the Apache License, Version 2.0 (the            *
 "License"); you may not use this file except in compliance   *
 with the License.  You may obtain a copy of the License at   *
                                                              *
   http://www.apache.org/licenses/LICENSE-2.0                 *
                                                              *
 Unless required by applicable law or agreed to in writing,   *
 software distributed under the License is distributed on an  *
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY       *
 KIND, either express or implied.  See the License for the    *
 specific language governing permissions and limitations      *
 under the License.                                           *
*/

/* List messages (begin) */ /**/
.b-list
{
  font-size: 90%;

  border-bottom: 6px solid #999;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  padding: 2px;
  background-color: #EEE;
}

.b-list tr
{
  vertical-align: top;

  /*background: #c9d8ea url(../images/bg-left.png) repeat-x;*/
  border-bottom: 1px solid #BBB;
}

/* Images (begin) */ /**/
.b-list .image
{
  width: 60px;
  padding: 5px 0 5px 6px;

}

.b-list .image .shadow
{
  position: absolute;

  width: 58px;
  height: 58px;
}

.b-list .image .shadow i
{
  position: absolute;
  left: -3px;
  top: -3px;

  width: 58px;
  height: 58px;

  /* background: url(../images/bg-i.png) no-repeat; */
}

.b-list .image img
{
  position: relative;

  width: 48px;
  height: 48px;
}
/* Images (end) */ /**/

/* Messages (begin) */ /**/
.b-list .message
{
  width: 307px;
  padding: 5px;
}

.b-list .message .outer
{
  min-height: 50px;
}

.b-list .message .inner
{
  min-height: 33px;
  padding-bottom: 0.4em;
}

.b-list .message .metainfo
{
  color: gray;
  float: right;
}

.b-list .mail
{
  display: block;

  float: right;

  margin-left: 5px;
}

.b-list .text
{
  padding-bottom: 0.2em;
  /* color: #233e5e; */
}
.b-list .date
{
  padding-bottom: 0.2em;
  /* color: #233e5e; */
}
/* Messages (end) */ /**/

.b-list .tag
{
  font-weight: bold;

  width: 143px;
  padding: 5px;

  color: #fff;
  /* background: #233e5e url(../images/bg-right1.png) repeat-x; */
}
/* List messages (end) */ /**/