/* Menu (begin) */ /**/
    .b-menu
    {
        margin-top: 4px;

        color: #233e5e;
        border-top: 1px solid #fff;
    }

    .b-menu li
    {
        padding: 0.5em 0.2em 0.5em 0.8em;

        border-bottom: 1px solid #fff;
    }

    .b-menu li:hover
    {
        background: #fff;
        border-bottom: 1px solid #c9d8ea;
    }

    .b-menu .current
    {
        background: #fff;
        border-bottom: 1px solid #c9d8ea;
    }

    .b-menu a
    {
        text-decoration: none;

        color: #233e5e;
    }
    
/* Menu (end) */ /**/