/* Popup message (begin) */ /**/
.b-popup-c .row
{
  padding: 7px 8px 0 7px;
}

.b-popup-c label
{
  font-size: 118%;
  font-weight: bold;

  margin-right: 0.5em;

  vertical-align: middle;
}

.b-popup-c input,
.b-popup-c textarea
{
  float: left;

  width: 76%;
  margin: 0.45em 0.45em 0 0;
  background-color: #c9d8ea;
}

.b-popup-c select
{
  vertical-align: middle;
}

.b-popup-c .note
{
  font-size: 80%;

  float: left;

  width: 80%;

  color: #959595;
}

.b-popup-c .note-r
{
  width: 4.5em;
  margin-top: 0.4em;
}

.b-popup-c .note .l
{
  float: left;

  margin-top: 0.18em;
}

.b-popup-c .note .r
{
  float: right;

  margin: 0.18em 0.7em 0 0;
}

.b-popup-c .btn
{
  /*
  float: left;

  margin: 0 0 0 20px;
  padding-bottom: 2px;
  */
}
/* Popup message (end) */ /**/