/* Primary links (begin) */ /**/
    .b-primary
    {
        position: absolute;
        top: 5px;
        right: 0;
    }

    .b-primary li
    {
        display: inline;

        margin-right: 8px;
    }

    .b-primary a
    {
        text-decoration: none;

        color: #233e5e;
    }

    .b-primary a:hover
    {
        text-decoration: underline;
    }
/* Primary links (end) */ /**/