/* List messages (begin) */ /**/
    .b-list
    {
        font-size: 90%;

        border-bottom: 6px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .b-list tr
    {
        vertical-align: top;

        background: #c9d8ea url(../images/bg-left.png) repeat-x;
        border-bottom: 1px solid #fff;
    }

    /* Images (begin) */ /**/
        .b-list .image
        {
            width: 60px;
            padding: 5px 0 5px 6px;

        }

        .b-list .image .shadow
        {
            position: absolute;

            width: 58px;
            height: 58px;
        }

        .b-list .image .shadow i
        {
            position: absolute;
            left: -3px;
            top: -3px;

            width: 58px;
            height: 58px;

            background: url(../images/bg-i.png) no-repeat;
        }

        .b-list .image img
        {
            position: relative;

            width: 48px;
            height: 48px;
        }
    /* Images (end) */ /**/

    /* Messages (begin) */ /**/
        .b-list .message
        {
            width: 307px;
            padding: 5px;
        }

        .b-list .message .outer
        {
            min-height: 50px;
        }

        .b-list .message .inner
        {
            min-height: 33px;
            padding-bottom: 0.4em;
        }

        .b-list .mail
        {
            display: block;

            float: right;

            margin-left: 5px;
        }

        .b-list .text
        {
            padding-bottom: 0.2em;
            color: #233e5e;
        }
                .b-list .date
        {
            padding-bottom: 0.2em;
            color: #233e5e;
        }
    /* Messages (end) */ /**/

    .b-list .tag
    {
        font-weight: bold;

        width: 143px;
        padding: 5px;

        color: #fff;
        background: #233e5e url(../images/bg-right1.png) repeat-x;
    }
/* List messages (end) */ /**/