/* Popup message (begin) */ /**/
    .b-popup
    {
        position: relative;
        display: block;
        width: 321px;
        margin-top: 35px;
    }

    /* Shadows (begin) */ /**/
        .b-popup-c
        {
            background: #233e5e;
        }

        .b-popup i
        {
            position: absolute;

            overflow: hidden;
        }

        .b-popup i i
        {
            position: absolute;
        }

        .b-popup .t
        {
            top: -30px;
            left: 120px;
            
            width: 128px;
            height: 30px;
        }

        .b-popup .b
        {
            z-index: 0;
            bottom: 0;

            width: 100%;
            height: 9px;

        }

        .b-popup .rt,
        .b-popup .rb,
        .b-popup .lb
        {
            z-index: 89;
                
            width: 9px;
            height: 9px;

            overflow: hidden;
        }

        .b-popup .rt i,
        .b-popup .rb i,
        .b-popup .lb i
        {
            width: 17px;
            height: 18px;
        }

        .b-popup .rt,
        .b-popup .rt i
        {
            top: 0;
            right: 0;
        }

        .b-popup .rb
        {
            bottom: 0;
            right: 0;
        }

        .b-popup .rb i
        {
            bottom: 0;
            right: 0;
        }

        .b-popup .lb,
        .b-popup .lb i
        {
            left: 0;
            bottom: 0;
        }
    /* Shadows (end) */ /**/

/* Popup message (end) */ /**/