/*
 Licensed to the Apache Software Foundation (ASF) under one   *
 or more contributor license agreements.  See the NOTICE file *
 distributed with this work for additional information        *
 regarding copyright ownership.  The ASF licenses this file   *
 to you under the Apache License, Version 2.0 (the            *
 "License"); you may not use this file except in compliance   *
 with the License.  You may obtain a copy of the License at   *
                                                              *
   http://www.apache.org/licenses/LICENSE-2.0                 *
                                                              *
 Unless required by applicable law or agreed to in writing,   *
 software distributed under the License is distributed on an  *
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY       *
 KIND, either express or implied.  See the License for the    *
 specific language governing permissions and limitations      *
 under the License.                                           *
*/

/* Popup message (begin) */ /**/
.b-popup-c .row
{
  padding: 7px 8px 0 7px;
}

.b-popup-c label
{
  font-size: 118%;
  font-weight: bold;

  margin-right: 0.5em;

  vertical-align: middle;
}

.b-popup-c input,
.b-popup-c textarea
{
  float: left;

  width: 76%;
  margin: 0.45em 0.45em 0 0;
  background-color: #c9d8ea;
}

.b-popup-c select
{
  vertical-align: middle;
}

.b-popup-c .note
{
  font-size: 80%;

  float: left;

  width: 80%;

  color: #959595;
}

.b-popup-c .note-r
{
  width: 4.5em;
  margin-top: 0.4em;
}

.b-popup-c .note .l
{
  float: left;

  margin-top: 0.18em;
}

.b-popup-c .note .r
{
  float: right;

  margin: 0.18em 0.7em 0 0;
}

.b-popup-c .btn
{
  /*
  float: left;

  margin: 0 0 0 20px;
  padding-bottom: 2px;
  */
}
/* Popup message (end) */ /**/