/* Content page (begin) */ /**/
    .l-page-content .l-page-l
    {
        vertical-align: bottom;
    }

    .l-page-content .l-page-c
    {
        background: #c9d8ea;
    }

    .l-page-content .l-page-r
    {
        background: #233e5e;
    }

    .l-page-content .l-top
    {
        background: #233e5e;
    }
/* Content page (end) */ /**/