    body
    {
        font-size: 80%;
    }
    
/* Clearfix (begin) */ /**/
    * html .clear
    {
        height: 1%;
    }

    [class].clear
    {
        zoom: 1;
    }
/* Clearfix (end) */ /**/