/*  Top right part (begin) */ /**/
    .l-top
    {
        position: relative;
        z-index: 10;

        min-height: 50px;
        
        padding: 0 3px;
        
        background: #233e5e;
        border-top: 4px solid #fff;
        border-left: 4px solid #fff;
    }
/*  Top right part (end) */ /**/