.b-view
{
    width: 536px;
    margin: 0 auto;
    padding-bottom: 40px;
    height: 650px;
    overflow: auto;
}

.b-view .caption
{
    font-size: 118%;
    font-weight: bold;

    margin: 0.6em 5px 0 5px;
    min-height: 2.2em;

    vertical-align: middle;
}

.b-view .caption select
{
    font-size: 85%;
    font-style: normal;

    position: relative;

    float: left;
    
    margin-top: -0.22em;
}

/* View menu tabs (begin) */ /**/
    .tab1 .tagclouds,
    .tab1 .contacts,
    .tab2 .messages,
    .tab2 .contacts,
    .tab3 .messages,
    .tab3 .tagclouds
    {
        display: none;
    }

    .tab1 .caption label
    {
        float: left;

        margin: 0 10px 0.4em 0;
    }
/* View menu tabs (end) */ /**/
